.description {
	padding-bottom: 80px;
	@include media-breakpoint-up(xs) {
		background: $cinza-claro;
		margin-left: -15px;
		margin-right: -15px;

		.text {
			color: $preto;
			padding: 0px 20px;

		}
	}

	@include media-breakpoint-up(sm) {
		.text {
			text-align: center;
		}
	}
}