.especialidades {

	@include media-breakpoint-up(xs) {
		top: -40px;
		position: relative;
		margin-left: -15px;
    	margin-right: -15px;
		.title-principal {
			padding-top: 0px !important;
		}
		.bg-especialidades-mobile {
			background-size: cover !important;
			height: 400px;
		}

		.content {
			ul {
				text-align: left;
				li {
					color: $cinza;
					font-size: 20px;
					margin-bottom: 10px;
					i {
						color: $verde;
						font-size: 28px;
						margin-right: 20px;
						bottom: -2px;
						position: relative;
					}
				}
			}
		}
	}

	@include media-breakpoint-up(sm) {
		.title-principal {
			font-size: 20px;
			text-align: left;
		}

		.bg-especialidades {
			background-size: cover !important;
			height: auto;
		}

		.content {
			padding-left: 20px;
			ul {
				height: 450px;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				li {
					font-size: 16px;
					margin-right: 20px;
					i{
						font-size: 22px;
						margin-right: 10px;
					}
				}
			}
		}
	}

	@include media-breakpoint-up(md) {
		.title-principal {
			font-size: 36px;
		}

		.content {
			ul {
				li {
					font-size: 20px;
					margin-right: 20px;
					i{
						font-size: 28px;
						margin-right: 20px;
					}
				}
			}
		}
	}
}