.footer {
	@include media-breakpoint-up(xs) {
		background: $azul;
		margin-left: -15px;
		margin-right: -15px;
		padding: 20px 0px;
		color: $branco;
		font-size: 18px;

		.logo-footer {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 10px;
		}

		.social {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 10px 0px;;
			a {
				color: $branco;
				i {
					margin-left: 20px;
				}
			}
		}

		.phone-footer {
			color: $branco;
			text-transform: uppercase;
			margin-bottom: -20px;
			
			i {
				margin-right: 10px;
			}

			span {
				display: flex;
				align-items: center;
				justify-content: center;
				background: $verde;
				width: 100%;
				height: 80px;
				font-size: 20px;
			}
			a {
				color: $branco;
				text-decoration: none;
				font-size: 20px;
				margin-left: 10px;
			}
		}
		


	}

	@include media-breakpoint-up(sm) {
		.logo-footer {
			margin: 0px;
			justify-content: end;
			img {
				max-width: 80%;
			}
		}

		.copyright {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.social {
			justify-content: flex-end;
		}
	}
}