.form-consulta {
	@include media-breakpoint-up(xs) {
		background: $azul;
		color: $branco;
		margin-left: -15px;
		margin-right: -15px;

		.title-contato {
			margin-bottom: 30px;
		}

		.label {
			font-size: 18px;
		}

		.input-form {
			background: transparent !important;
			border: none !important;
			border-bottom: 2px solid $branco !important;
			width: 100% !important;
			margin-bottom: 20px;
			color: $branco;
			font-size: 16px;
			padding-left: 10px;

			&:focus {
				outline: none !important;
			}
		}

		.wpcf7-submit {
			background: $verde-button;
			border: none;
			color: $azul;
			width: 100%;
			height: 60px;
		}
	}

	@include media-breakpoint-up(sm) {
		background: none;
		margin-left: 41.666667%;
		margin-right: none;
		color: $branco;

		.title-contato {
			margin-top: 60px;
			font-size: 28px;
		}

		.input-form {
			font-size: 26px;
		}
	}
	
}