.header {
	@include media-breakpoint-up(xs) {
		.logo-img {
			max-width: 100%;
			margin: 20px 0px;
		}

		.banner-topo {
			background: url('../img/banner.png');
			background-position: left;
			background-size: cover;
			height: 400px;
			margin-left: -15px;
			margin-right: -15px;
			display: flex;
			align-items: flex-end;

			.title-topo {
				color: $branco;
				font-size: 40px;
				font-weight: 200;
				bottom: 20px;
			}
		}

	}

	@include media-breakpoint-up(sm) {
		.logo-img {
			max-width: 100%;
		}

		.banner-topo {
			background: url('../img/banner-desktop.png');
			height: auto;
			background-size: cover;

			.title-topo {
				top: 50px;
			}
		}
	}

	@include media-breakpoint-up(md) {
		.phone {
			display: block;
			color: $branco;
			position: absolute;
			right: 0;
			text-transform: uppercase;
			top: 60px;
			width: 33.33%;
			
			i {
				margin-right: 10px;
			}

			span {
				display: flex;
				align-items: center;
				justify-content: left;
				padding-left: 30px;
				background: $verde;
				width: 100%;
				height: 80px;
				font-size: 14px;
			}
			a {
				color: $branco;
				text-decoration: none;
				font-size: 14px;
				margin-left: 10px;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		.phone {
			span {
				padding-left: 50px;
				font-size: 21px;
			}
		}
	}
}