.mapa {
	@include media-breakpoint-up(xs) {
		margin-left: -15px;
		margin-right: -15px;
		position: relative;
		top: -60px;
		margin-bottom: -70px;
	}

	@include media-breakpoint-up(sm) {
		margin-top: -100px;
	}
}

.informativo {
	@include media-breakpoint-up(xs) {
		color: $branco;
		background: $azul;
		padding: 20px;
		font-size: 16px;
		height: 190px;
		margin-top: 20px;
		
		span {
			display: inline-block;
			font-size: 24px;
			&:nth-child(1) {
				font-weight: bold;
				margin-bottom: 5px;
			}
		}
	}

	@include media-breakpoint-up(sm) {
		position: relative;
		z-index: 1;
		bottom: 0px;

		span {
			font-size: 19px !important;
		}
	}

	@include media-breakpoint-up(lg) {
		span {
			font-size: 24px !important;
		}
	}

}