.title-principal {
	@include media-breakpoint-up(xs) {
		color: $azul;
		text-align: center;
		font-size: 24px;
		padding-top: 30px;
		font-weight: 100px;
	}

	@include media-breakpoint-up(sm) {
		font-size: 36px;
	}
}