$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

body {
  font-family: 'Open Sans', sans-serif;
}

/*COLORS*/
$verde: #6ABE36;
$verde-button: #B6F98C;
$branco: #fff;
$preto: #292929;
$azul: #1D77B3;
$cinza: #707070;
$cinza-claro: #F6F6F6;